# Dependências (em qualquer pasta, inclusive src/api)
node_modules/
.pnp
.pnp.js

# Build e testes
/build
/coverage

# Variáveis de ambiente
.env
.env.*
!.env.example

# Logs e sistema
npm-debug.log*
.DS_Store
Thumbs.db
